@media (min-width: 1430px) {
    
    .section-text-subtitle{
        font-size: 20px !important;
    }

}
@media (min-width: 1010px) {
    

    .section-text{

        padding: 30px 0px 0px 40px !important;
    }
}

@media (max-width: 1700px) {
    .section-sub{
        width: 90% !important;
    }
}

@media (max-width: 1430px) {
    .section-text-subtitle{
        font-size: 18px !important;
    }
}

@media (max-width: 1150px) {
    .section-text-title{
        font-size: 28px !important;
    }
    .section-button h6{
        font-size: 18px !important;
        padding: 10px !important;
        margin-top: 0px !important;
    }
   
}

@media (max-width: 1010px) {
    .section-text{
        width: 100% !important;
        padding: 30px 20px 0px 20px !important;
    }
    .section-image{
        width: 100% !important;
        height: 300px !important;
    }
    .section-sub{
        flex-direction: column !important;
    }
    .section-container{
        height: 750px !important;
    }
}

@media (max-width: 610px) {
    .section-sub{
        flex-direction: column-reverse !important;
    }
    .section-container{
        height: 800px !important;
    }
    .section-text{
        padding: 30px 20px 20px 20px !important;
    }
    #section-extra-text{
        display: none !important;
    }
    .section-image{
        height: 400px !important;
    }
    
}



.section-container{
    width: 100%;
    height: 550px;
    display: flex;
    margin: 50px 0 50px 0;
}

.section-sub{
    width: 75%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-self: center;
    background-color: #f7e1e4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section-text{
    width: 60%;
    height: auto;
    background-color: #fadff2;
}

.section-image{
    width: 40%;
    height: auto;
    background-image: url("https://img.freepik.com/premium-vector/march-8-text-vector-design-international-women-s-day-celebration-with-flowers-leaves-elements_572293-3240.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-color: #fadff2;
}

.section-text-title{
    font-weight: 700 !important;
    color: #ef3682;
}

.section-text-subtitle{
    margin-top: 10px !important;
    color: #333333;
    font-weight: 300 !important;
}



/* Button */

.section-button h6{
    width: 180px;
    margin-top: 12px !important;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: white;
    font-family: League Spartan !important;
    font-weight: 400;
    color: #333333;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .section-button h6:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .section-button h6:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .section-button h6:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .section-button h6:hover:before {
    border-color: #ef3682;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .section-button h6:hover:after {
    border-color: #ef3682;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .section-button {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #FFFFFF !important;

  }