.contacts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-heading-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}


.contacts-img{
    width: 50px;
    margin: 0px 0 0 12px ;
}

.contacts-form-container{
    display: flex;
    flex-direction: column;
    min-width: 32%;
    margin: 0px 20px 0px 20px
}

.contacts-form{
    display: inherit;
    flex-direction: inherit;
    margin-bottom: 30px;
}

.contacts-form-div{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
}

.contacts-form-input{
    width: 47%;
}




.contacts-form-submit {
    background-color: #f7e1e4 !important;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: League Spartan !important;
    font-weight: 400;
    width: 10em;
    border-radius: 1rem !important;
    color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    cursor: pointer;
    border: solid 2px !important;
   }
   
.contacts-form-submit:active {
    color: #f7e1e4 !important;
    box-shadow: 0 0.2rem #c5c1c1 !important;
    transform: translateY(0.2rem);
   }
   
.contacts-form-submit:hover:not(:disabled) {
    background: #f7e1e4 !important;
    color: white !important;
   }

.contacts-form-submit:disabled {
    cursor: auto;
    color: grey !important;
   }


